:root {
    --color-green: hsl(171, 66%, 44%);
    --color-blue: hsl(233, 100%, 69%);
    --color-gray700: hsl(210, 10%, 33%);
    --color-gray500: hsl(201, 11%, 66%);

    --def-font-size: 1.4rem;
    --def-font-weight-a: 400;
    --def-font-weigh-b: 600;
    --font-family-a: 'Bai Jamjuree', sans-serif;

    --headers-color: rgb(70, 69, 69);
    --headers-font-size: 1.6rem;

}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: all 0.3s ease-in-out;
}

body {
    margin: 0;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*mobile first design*/
.app {
    width: 95%;
    min-height: 100dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
}

.head {
    width: 100%;
    min-height: 20rem;
    background-image: url('/clipboard-landing-page-master/images/bg-header-mobile.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem
}

.logo {
    width: 10rem;
    height: 10rem;
    margin-block-start: 8rem;
}

.head h1 {
    color: rgb(59, 58, 58);
    font-family: var(--font-family-a);
    font-size: 2.4rem;
    text-align: center;
    margin: 0;
    margin-block-start: 3rem;
}

.head p {
    color: var(--color-gray500);
    font-size: var(--def-font-size);
    font-family: var(--font-family-a);
    text-align: center;
    margin: 0;
}

.down_btn_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-block-start: 4rem;

}

.down_btns {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23rem;
    height: 4rem;
    border-radius: 1.9rem;
    border-bottom: 1px solid var(--color-gray700);
    background-color: var(--color-blue);
    color: white;
    font-size: var(--def-font-size);
    font-weight: var(--def-font-weigh-b);
    font-family: var(--font-family-a);
    text-decoration: none;
}

.down_btns:hover {
    background-color: hsl(233, 100%, 59%);
    cursor: pointer;
}

/*Main section*/
.main {
    margin-block-start: 10rem;
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 20rem;
    padding: 1em 1em;
    align-self: center;
    gap: 1em;
}

/*Keep track section*/
#keep_track {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 2rem;
}

.keep_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: .2rem;
    text-align: center;
    color: var(--headers-color);
    font-size: var(--headers-font-size);
    font-family: var(--font-family-a);
}

.keep_content p {
    color: var(--color-gray500);
    font-size: var(--def-font-size);
    font-family: var(--font-family-a);
    margin-block-start: 1rem;
    max-width: 30rem;
    margin: 0 auto;
}

.keep_content h2 {
    margin: 0;
}

.keep_img_content_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.keep_img {
    margin-block-start: 4rem;
    width: 20rem;
    height: auto;
    transform: translateX(-15%);
    opacity: 0;
}

/*Quick Search section*/
.quick_content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-block-start: 8rem;
}

.quick_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    margin-block-start: 1.3rem;
    text-align: center;
    color: var(--headers-color);
    font-size: 1.3rem;
    font-family: var(--font-family-a);
}

.quick_content p {
    color: var(--color-gray500);
    font-size: 1.5rem;
    font-family: var(--font-family-a);
    margin: 0 auto;
}


/*Access Clipboard section*/
#access_clipbaord {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    gap: 2rem;
    margin-block-start: 10rem;
}

.access_img {
    margin-block-start: 4rem;
    width: 25rem;
    height: auto;
    opacity: 0;
    transform: translateX(-15%);
}

.access_ics {
    width: 5rem;
    height: auto;
    margin-block-start: 3rem;
}
.access_content_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-block-start: 1.3rem;
}

.access_content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0;
    text-align: center;
    color: var(--headers-color);
    font-size: 1.3rem;
    font-family: var(--font-family-a);
}

.access_content p {
    color: var(--color-gray500);
    font-size: 1.5rem;
    font-family: var(--font-family-a);
    margin: 0 auto;
}

/*Company logos section*/
.company_logo_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
    margin-block-start: 4rem;
    margin-block-end: 4rem;
}

.company_logo {
    width: 8rem;
    height: auto;
}

/*Bottom section*/
.bottom_head {
    width: 100%;
    min-height: 20rem;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-block-start: 10rem;
}

.bottom_head h2 {
    color: rgb(59, 58, 58);
    font-family: var(--font-family-a);
    font-size: 2rem;
    text-align: center;
    margin: 0;
    margin-block-start: 3rem;
}

.bottom_head p {
    color: var(--color-gray500);
    font-size: var(--def-font-size);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align: center;
    margin: 0;
}

.bottom_down_btn_container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-block-start: 4rem;

}

.bottom_down_btns {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 23rem;
    height: 4rem;
    border-radius: 1.9rem;
    border-bottom: 1px solid var(--color-gray700);
    background-color: var(--color-blue);
    color: white;
    font-size: var(--def-font-size);
    font-weight: var(--def-font-weigh-b);
    font-family: var(--font-family-a);
    text-decoration: none;
    transform: translateY(15%);
    opacity: 0;
}

.bottom_down_btns:hover {
    background-color: hsl(233, 100%, 59%);
    cursor: pointer;
}



/*footer section*/
.footer {
    width: 100dvw;
    height: auto;
    background-color: rgb(218, 218, 218);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    margin-block-start: 10rem;
}

.footer p {
    margin: 0;
}

.footer_logo {
    width: 3rem;
    height: auto;
    margin-block-start: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.social_icons_container {
    display: flex;
    gap: 3rem;
    margin-block-start: 3rem;
}

.social_icons {
    width: 2rem;
    height: auto;
    margin-block-start: 3rem;
    margin-block-end: 3rem;
}

.footer_nav {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-block-start: 2rem;
}

.links {
    color: var(--color-gray700);
    text-decoration: none;
    font-size: var(--def-font-size);
    text-align: center;
}



/*desktop design*/
@media (min-width: 768px) {

    :root {
        --def-font-size: 1.35rem;

    }

    .head {
        background-image: url('/clipboard-landing-page-master/images/bg-header-desktop.png');
        min-height: 25rem;
    }

    .logo {
        width: 12rem;
        height: 12rem;
        margin-block-start: 4rem;
    }

    .head h1 {
        font-size: 3.2rem;
    }

    .down_btn_container {
        margin-block-start: 6rem;
        flex-direction: row;
        justify-content: center;
        gap: 2rem;
    }

    .main {
        margin-block-start: 15rem;
        padding: 0;
    }


    .keep_content p {
        font-size: var(--def-font-size);
        text-align: center;
        max-width: 50rem;
        margin: 0 auto;
    }

    .access_img {
        width: 30rem;
        margin-block-start: 0;
    }


    /*Quick Search section*/
    .keep_img {
        width: 25rem;
        margin-block-start: 0;

    }

    .keep_img_content_container {
        flex-direction: row;
    }

    .quick_content_container {
        transform: scale(0.6);
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: .2rem;
    }

    .quick_content {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        text-align: left;
        margin: 0;
    }

    .quick_content p {
        text-align: left;
        margin: 0;
    }

    .access_img {
        margin-block-start: 2rem;
    }

    /*Company logos section*/
    .company_logo_container {
        flex-direction: row;
        gap: 4rem;
    }
    /*access clipboard section*/
    #access_clipbaord {
        gap: 0rem;
    }
    .access_content_container {
        flex-direction: row;
        gap: 9rem;
        margin-block-start: 0rem;
        transform: scale(0.6);
    }
    .access_content {
       min-width: 30rem;
    }
    /*bottom section*/
    .bottom_head {
        margin-block-start: 1rem;
    }
    /*footer section*/
    .footer {
        margin-block-start: 5rem;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }
    .footer_nav {
        flex-direction: row;
        gap: 4rem;
    }
}